{% extends 'base.html' %}

{% block head %}
<title>SCVis - Settings</title>
{% endblock %}

{% block body %}
<div id="settings" class="container border mt-5">
  <div class="row ">
    <div class="col text-center">
      <h4>
        SCVis - Settings
      </h4>
    </div>
  </div>
  <div class="row">
    <div id="status_area" class="col"></div>
  </div>
  <div class="settings_panel row">
    <div class="col">
      <div class="row">
        <div class="col">
          <textarea id="status_textarea" class="form-control w-100" style="height:80px" readonly></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a href="#select_channels" class="nav-link active" data-bs-toggle="tab">Select Channels</a>
            </li>
            <li class="nav-item">
              <a href="#select_sleep_stages" class="nav-link" data-bs-toggle="tab">Select Sleep Stages</a>
            </li>
            <li class="nav-item">
              <a href="#set_filters" class="nav-link" data-bs-toggle="tab">Set Filters</a>
            </li>
            <li class="nav-item">
              <a href="#set_epoch_size" class="nav-link" data-bs-toggle="tab">Set Epoch Size</a>
            </li>
          </ul>
          <div class="row">
            <div class="col">
              <form id="settings_form">
                <div class="tab-content border">
                  <div id="select_channels" class="tab-pane active">
                    <div class="row m-2">
                        <div class="col text-center">
                            <a id="select_all_or_none" class="btn btn-info" onclick="selectAllChannels(true);">Select All</a>
                        </div>
                    </div>
                    <div class="row m-2">
                      <div id="channels" class="col"></div>
                    </div>
                  </div>
                  <div id="select_sleep_stages" class="tab-pane">
                    <div class="row m-2">
                      <div class="col-5">
                        <span class="lead">Annotations</span>
                      </div>
                      <div class="col-2">
                      </div>
                      <div class="col-5">
                        <select id="sleep_stages" class="form-select w-100" onchange="showSleepStageAnnots(value, event);">
                          {% for i in range(sleep_stages|length) %}
                            {% if i == 0 %}
                            <option value="{{ sleep_stages[i] }}" selected>{{ sleep_stages[i] }}</option>
                            {% else %}
                            <option value="{{ sleep_stages[i] }}">{{ sleep_stages[i] }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="row m-2">
                      <div id="annotations" class="col-5 overflow-auto border" style="height:550px"></div>
                      <div class="col-2 m-auto">
                        <div class="row">
                          <div class="col-12 p-1 text-center">
                            <a class="btn btn-primary" onclick="moveAnnotsToRightPanel();">&gt;&gt;</a>
                          </div>
                          <div class="col-12 p-1 text-center">
                            <a class="btn btn-primary" onclick="moveAnnotsToLeftPanel();">&#60;&#60;</a>
                          </div>
                        </div>
                      </div>
                      <div id="annotations_selected" class="col-5 overflow-auto border" style="height:550px"></div>
                    </div>
                  </div>
                  <div id="set_filters" class="row tab-pane m-2">
                    <div class="col">
                      <div class="row border border-light m-1">
                        <div class="col-md-9">
                          <label class="float-end" for="notch_freq_entry">Notch filter frequency (Hz):</label>
                        </div>
                        <div class="col-md-3">
                          <input type="text" class="form-control form-control-sm" name="notch_freq_entry" value="{{filter_settings['notch']}}">
                        </div>
                      </div>
                      <div class="row border border-3">
                        <div class="col">
                          <div class="row">
                            <h5>Bandpass filter options</h5>
                          </div>
                          <div class="row border border-light m-1">
                            <div class="col-md-9">
                              <label class="float-end" for="bandpass_min_freq_entry">Minimum frequency (Hz):</label>
                            </div>
                            <div class="col-md-3">
                              <input type="text" class="form-control form-control-sm" name="bandpass_min_freq_entry" value="{{filter_settings['bandpass'][0]}}">
                            </div>
                          </div>
                          <div class="row border border-light m-1">
                            <div class="col-md-9">
                              <label class="float-end" for="bandpass_max_freq_entry">Maximum frequency (Hz):</label>
                            </div>
                            <div class="col-md-3">
                              <input type="text" class="form-control form-control-sm" name="bandpass_max_freq_entry" value="{{filter_settings['bandpass'][1]}}">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row border border-light m-1">
                        <div class="col-md-9">
                          <label class="float-end" for="amplitude_max_entry">Maximum amplitude (micro Volt):</label>
                        </div>
                        <div class="col-md-3">
                          <input type="text" class="form-control form-control-sm" name="amplitude_max_entry" value="{{filter_settings['amplitude_max']}}">
                        </div>
                      </div>
                      <div class="row border border-3">
                        <div class="col">
                          <div class="row">
                            <h5>Flat signal filter options</h5>
                          </div>
                          <div class="row border border-light m-1">
                            <div class="col-md-9">
                              <label class="float-end" for="flat_signal_duration_entry">Duration (seconds):</label>
                            </div>
                            <div class="col-md-3">
                              <input type="text" class="form-control form-control-sm" name="flat_signal_duration_entry" value="{{filter_settings['flat_signal'][0]}}">
                            </div>
                          </div>
                          <div class="row border border-light m-1">
                            <div class="col-lg-9">
                              <label class="float-end" for="freq_std_min_flat_entry">Minimum frequency standard deviation in flat signal duration:</label>
                            </div>
                            <div class="col-lg-3">
                              <input type="text" class="form-control form-control-sm" name="freq_std_min_flat_entry" value="{{filter_settings['flat_signal'][1]}}">
                            </div>
                          </div>
                          <div class="row border border-light m-1">
                            <div class="col-md-9">
                              <label class="float-end" for="freq_std_min_epoch_entry">Minimum frequency standard deviation in an epoch:</label>
                            </div>
                            <div class="col-md-3">
                              <input type="text" class="form-control form-control-sm" name="freq_std_min_epoch_entry" value="{{filter_settings['flat_signal'][2]}}">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row border p-1 mt-1 border-3">
                        <div class="col">
                          <div class="row">
                            <h5>Annotations to remove from consideration</h5>
                          </div>
                          <div class="row">
                            <div class="col d-flex flex-column" style="height:240px">
                              <div class="row flex-grow-1 border border-light overflow-auto">
                              {% for annot, checked in bad_annot_settings %}
                                <div class="row border border-light">
                                  <div class="col">
                                    <input class="form-check-input" type="checkbox" name="bad_annots_list" value="{{ annot }}" {{ checked }}>
                                    <label class="form-check-label ms-2" for="{{ annot }}">{{ annot }}</label>
                                  </div>
                                </div>
                              {% endfor %}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="set_epoch_size" class="row tab-pane m-2">
                    <div class="col">
                      <div class="row">
                        <div class="col-md-9">
                          <label class="float-end" for="epoch_size">Epoch Size (Seconds):</label>
                        </div>
                        <div class="col-md-3">
                          <input type="text" class="form-control form-control-sm" name="epoch_size" value="{{epoch_size}}">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-2">
    <div class="col text-center">
        <a class="btn btn-primary" onclick="saveSettings();">Save</a>
    </div>
  </div>
</div>
<script type="text/javascript">
  const job_id = "{{job_id}}";
  const sleep_stages = JSON.parse('{{ sleep_stages|tojson }}');
  var channel_settings = JSON.parse('{{ channel_settings|tojson }}');
  var annots_left_settings = JSON.parse('{{ annots_left_settings|tojson }}');
  var annots_right_settings = JSON.parse('{{ annots_right_settings|tojson }}');
  loadSettings();
</script>
{% endblock %}