<!--This template is downloaded from https://github.com/surjithctly/documentation-html-template-->
{% extends 'base.html' %}

{% block head %}
<title>SSAVE - Sleep Period Visualization Tool</title>
{% endblock %}

{% block body %}
<div class="container">
    <a id="back2top" href="#top" title="Back to Top" class="infooter" style="display: inline;">Back<br>to Top</a>
    <div class="header row">
        <div class="col text-center">
            <h1>SSAVE - Documentation</h1>
            <!-- end title -->
        </div>
        <div class="col-auto m-auto">
            <a class="text-white" href="{{url_for('home')}}" target="_blank"><h2>[Home]</h2></a>
        </div>
        <!-- end 12 -->
    </div>
    <div class="row">

        <div class="col-md-3">
            <nav class="docs-sidebar affix" data-spy="affix" data-offset-top="300" data-offset-bottom="200"
                role="navigation">
                <ul class="nav">
                    <li class=""><a href="#line1">Download SSAVE</a></li>
                    <li class=""><a href="#line2">Inputs and Outputs</a></li>
                    <li class=""><a href="#line3">Process Data</a></li>
                    <li class=""><a href="#line4">Change Configuration</a></li>
                        <ul class="nav">
                            <li class=""><a href="#line4_1">Select channels</a></li>
                            <li class=""><a href="#line4_2">Select Sleep Stage Events</a></li>
                            <li class=""><a href="#line4_3">Set Filters</a></li>
                            <li class=""><a href="#line4_4">Set Epoch Size</a></li>
                        </ul>
                    </li>
                    <li class=""><a href="#line5">Cite Us</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-md-9">
            <section class="welcome">
                <div class="row">
                    <div class="col-md-12 left-align">
                        <h2 class="dark-text">Introduction
                            <hr>
                        </h2>
                        <div class="row">

                            <div class="col-md-12 full">
                                <div class="intro1">
                                    <ul>
                                        <li><strong>Item Name : </strong>Sleep Period and Spectrogram Analysis and Visualization for Electroencephalography Data (SSAVE)</li>
                                        <li><strong>Item Version : </strong> v 1.0</li>
                                        <li><strong>Author : </strong> <a href="https://www.linkedin.com/in/amlan-talukder-phd-5415a933/"
                                                target="_blank">Amlan Talukder</a></li>
                                    </ul>
                                </div>

                                <hr>
                                <p><strong>SSAVE</strong> is designed to extract, customize and visualize sleep periods from EEG data. 
                                This documentation is to walk users through the both the web and desktop versions of the tool.</p>
                                <hr>
                                <div id="line1" class="para">
                                    <h4>Desktop version</h4>
                                    <p>The desktop version of <strong>SSAVE can be downloaded from <a href="https://github.com/amlantalukder/SSAVE_DESKTOP" target="_blank">here</a></strong>. 
                                        In order to use the desktop version, you will need to install the following tools and packages.</p>
                                    <ol>
                                        <li>1. Install python 3.6 or higher</li>
                                        <li>2. Install the following python packages: numpy, matplotlib, mne</li>
                                    </ol>
                                </div>
                                <hr>
                                <div class="para">
                                    <h4>User interface</h4>

                                    <p>The user interface (UI) of SSAVE is similar for both web and desktop versions. 
                                        The <a href="{{url_for('home')}}">home page</a> UI has three main panels: 
                                    </p>
                                    <ol>
                                        <li><strong>Input panel:</strong> Takes user input.</li>
                                        <li><strong>User notification panel:</strong> Notifies the user with messages.</li>
                                        <li><strong>Output panel:</strong> Shows the outputs.</li>
                                    </ol>
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <a href="static/assets/ui_home_web.jpg" target="_blank">
                                                <img src="static/assets/ui_home_web.jpg" width="100%" alt="" class="img-responsive img-thumbnail">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                </div>
            </section>

            <section id="line2" class="section">

                <div class="row">
                    <div class="col left-align">
                        <h2 class="dark-text">Inputs and Outputs
                        </h2>
                    </div>
                    <div class="col-auto my-auto"><a href="#top">[Back to top]</a></div>
                    <!-- end col -->
                </div>
                <hr style="height:2px">
                <!-- end row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="para">
                            <h4>Inputs</h4>
                            <p>SSAVE takes two types of input files.</p>
                            <ol class="ms-4">
                                <li>1. EEG sleep data in EDF format.</li>
                                <li>2. Epoch wise sleep stages in text format. This file must have at least two columns. 
                                    The first column will contain the epoch number and the second column will contain the 
                                    sleep stage labels assigned to that epoch according to following criteria,
                                    "W" for Wake stage, "N1" for N1 stage, "N2" for N2 stage, "N3" for N3 stage and "R" for REM stage. 
                                </li>
                            </ol>
                        </div>
                        <hr>
                        <div class="para">
                            <h4>Outputs</h4>
                            <p>SSAVE generates following outputs.</p>
                            <ol class="ms-4">
                                <li>1. An image file for the visualization in JPEG format. 
                                    The plot shows the sleep periods, sleep stages and spectrogram. 
                                    If the input file is the epoch wise sleep stages, the plot will not show the spectrogram.</li>
                                <li>2. Epoch wise sleep periods in text format. 
                                    The file has three columns: epoch number, index for sleep period and sleep period name (NREMP or REMP).</li>
                                <li>3. Epoch wise sleep stages in text format. The file has two column: epoch number and sleep stage.</li>
                            </ol>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->

            </section>
            <!-- end section -->

            <section id="line3" class="section">

                <div class="row">
                    <div class="col left-align">
                        <h2 class="dark-text">Process Data
                        </h2>
                    </div>
                    <div class="col-auto my-auto"><a href="#top">[Back to top]</a></div>
                    <!-- end col -->
                </div>
                <hr style="height:2px">
                <!-- end row -->

                <h4>Loading Data</h4>

                <p>After selecting the input file the user needs to click the "Load" button to load the sleep data. 
                    When the data is loaded the "Configure" and "Execute" buttons will be enabled.</p>
                
                <hr>

                <h4>Execution</h4>

                <p>The execution of SSAVE begins after clicking the "Execute" button. Once the execution is done, 
                    the user can see the resulted visualization and the extracted sleep periods and stages 
                    in the the two tabs of the output panel. The user interface panel will notify users with 
                    useful messages at every step.
                </p>

                <p>The output files can be downloaded as a zipped folder by clicking the "Download" button at the top right corner of the output panel.</p>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <a href="static/assets/ui_home_process_data_flow_web.jpg" target="_blank">
                            <img src="static/assets/ui_home_process_data_flow_web.jpg" width="100%" alt="" class="img-responsive img-thumbnail">
                        </a>
                    </div>
                </div>

                <hr>

                <h4>Spliting long NREM period</h4>

                <p>
                    Sometimes an NREM sleep period can be too long to be considered as a single period. In that case, the long NREM sleep cyle can be split into 
                    two NREM periods. SSAVE applies rules to determine the epoch numbers where a long NREM can be split. If it can find these splitting options,
                    another tab named "NREM cut points" will be shown on the output panel. This panel will present the possible epoch numbers options to cut a 
                    long NREM period. User can select the cut point options and click execute to apply them on the output. The spectrogram is also shown in this
                    tab to help user determine the cut options.
                </p>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <a href="static/assets/ui_home_process_cut_flow_web.jpg" target="_blank">
                            <img src="static/assets/ui_home_process_cut_flow_web.jpg" width="100%" alt="" class="img-responsive img-thumbnail">
                        </a>
                    </div>
                </div>

            </section>
            <!-- end section -->
            <section id="line4" class="section">

                <div class="row">
                    <div class="col left-align">
                        <h2 class="dark-text">Change Configuration
                        </h2>
                    </div>
                    <div class="col-auto my-auto"><a href="#top">[Back to top]</a></div>
                    <!-- end col -->
                </div>
                <hr style="height:2px">
                <!-- end row -->

                <p>User can change the configuration of the sleep data processing by clicking the "Configure" button at home page. 
                    The configure option is enabled only for when the input file type is "EDF File".</p>

                <p>Clicking the "Configure" button will take the user to the settings page in a new window. 
                    This page contains four tabs: Select Channels, Select Sleep Stage Events, Set Filters and Set Epoch Size.
                    Any changes in this page can be saved by clicking the "Save" button at the bottom the page.
                </p>

                <hr>

                <div class="row">
                    <div class="col-md-4">
                        <a href="static/assets/ui_config_sel_ch_web.jpg" data-rel="prettyPhoto">
                            <img src="static/assets/ui_config_sel_ch_web.jpg" alt="" class="img-responsive img-thumbnail">
                        </a>
                    </div>

                    <div class="col-md-8 overflow-auto">
                        <h4 id="line4_1">Select Channels <a href="#top">[Back to top]</a></h4>
                        <div style="height: 200px;">
                            <p>The EDF file of the sleep data contains channels of several types such as EEG channels, EMG channels, EOG channels etc.
                                In the "Select Channels" tab, all the available EEG channels from the input EDF file are shown. 
                                The following EEG channels are selected by default: F3, F4, C3, C4, O1, O2, M1 and M2. 
                                User can change this configuration by selecting any channels of their liking. When processing data, 
                                SSAVE will consider the average of all the selected channels.
                            </p>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->

                <hr>

                <div class="row">
                    <div class="col-md-4">
                        <a href="static/assets/ui_config_sel_st_evts_web.jpg" data-rel="prettyPhoto">
                            <img src="static/assets/ui_config_sel_st_evts_web.jpg" alt="" class="img-responsive img-thumbnail">
                        </a>
                    </div>

                    <div class="col-md-8 overflow-auto">
                        <h4 id="line4_2">Select Sleep Stage Events <a href="#top">[Back to top]</a></h4>
                        <div style="height: 200px;">
                            <p>The EDF file associates particular events at different timestamps. 
                                The events assigned to a sleep stage help to annotate the corresponding timestamps of the EEG data to that sleep stage.
                                These sleep stage events can vary across different labs. So, in this tab, the user is provided with the flexibility to select
                                the events related to the five sleep stages.</p>
                            <p>This tab has two panels. The panel on the left side shows all the available events extracted from the input EDF file. 
                                The events that may relate to a sleep stage is showed on top under the header "Relevant sleep stage events". 
                                These events are chosen using any of the following keywords: 
                                'sleep stage', 'wake stage', 'stage wake', 'w stage', 'stage w', 'wake', 
                                'n1 stage', 'stage n1', 'nrem 1', 'n1', 'stage1', 'stage 1', 'n 1', 
                                'n2 stage', 'stage n2', 'nrem 2', 'n2', 'stage2', 'stage 2', 'n 2', 
                                'n3 stage', 'stage n3', 'nrem 3', 'n3', 'stage3', 'stage 3', 'n 3',
                                'rem', 'r stage', 'stage r'. If no relevant events can be found from the event list or if all the sleep stage related events
                                are already assigned to the sleep stages, then the top header on the left side panel will show 
                                "No relevant sleep stage available for selection".
                            </p>
                            <p>
                                The panel on the right will show a menu to select a sleep stage and assign the events to the sleep stage from the left side panel.
                                The table at the bottom of the right side panel will show the events that have been assigned to the five sleep stages. 
                            </p>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->

                <hr>

                <div class="row">
                    <div class="col-md-4">
                        <a href="static/assets/ui_config_set_filters_web.jpg" data-rel="prettyPhoto">
                            <img src="static/assets/ui_config_set_filters_web.jpg" alt="" class="img-responsive img-thumbnail">
                        </a>
                    </div>

                    <div class="col-md-8">
                        <h4 id="line4_3">Set Filters <a href="#top">[Back to top]</a></h4>
                        <p>
                            This tab shows the frequency filters (notch filters and band pass filters) to apply on the EEG data. 
                            The notch filter frequecy value (default 60 Hz) help to reduce the line noise from the data. 
                            The band pass filters (default 0.05 Hz - 30 Hz) retains all the frequencies within the provided range. 
                        </p>
                        <p>
                            Except the frequency filter the user can also filter out unwanted epochs such as epochs with flat signal 
                            for a certain duration and the epochs which associate with unimportant events from the data, such as, 
                            bathroom breaks, high movements. 
                        </p>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->

                <hr>

                <div class="row">
                    <div class="col-md-4">
                        <a href="static/assets/ui_config_set_epoch_size_web.jpg" data-rel="prettyPhoto">
                            <img src="static/assets/ui_config_set_epoch_size_web.jpg" alt="" class="img-responsive img-thumbnail"></a>
                    </div>

                    <div class="col-md-8">
                        <h4 id="line4_4">Set Epoch Size <a href="#top">[Back to top]</a></h4>
                        <p>
                            For EDF file with epoch window size different from 30 seconds, the user can change the epoch size.
                        </p>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->

            </section>
            <!-- end section -->

            <section id="line5" class="section">

                <div class="row">
                    <div class="col left-align">
                        <h2 class="dark-text">Cite Us
                        </h2>
                    </div>
                    <div class="col-auto my-auto"><a href="#top">[Back to top]</a></div>
                    <!-- end col -->
                </div>
                <hr style="height:2px">
                <!-- end row -->

                <p>Talukder A., Li Y., Yeung D., Umbach M.D., Zheng F., Li L. (2022) <strong>SSAVE: Sleep Period and Spectrogram Analysis and Visualization for Electroencephalography Data</strong>. <i>Journal</i> Volume(Issue) [pages]</p>
                
                <!-- end row -->

            </section>
            <!-- end section -->
        </div>
        <!-- // end .col -->

    </div>
    <!-- // end .row -->

</div>
<!--
<script src="{{url_for('static', filename='documentation-html-template/js/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='documentation-html-template/js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='documentation-html-template/js/retina.js')}}"></script>
<script src="{{url_for('static', filename='documentation-html-template/js/jquery.fitvids.js')}}"></script>
<script src="{{url_for('static', filename='documentation-html-template/js/wow.js')}}"></script>
<script src="{{url_for('static', filename='documentation-html-template/js/jquery.prettyPhoto.js')}}"></script>
<script src="{{url_for('static', filename='documentation-html-template/js/custom.js')}}"></script>
<script src="{{url_for('static', filename='documentation-html-template/js/main.js')}}"></script>
-->
{% endblock %}