<div class="footer-wrapper">
	<footer class="footer">
		<div id="footer">

			<div class="footer-media">
				<div class="footer-address">
 					<a href="https://www.niehs.nih.gov/"><h2>National Institute of<br>Environmental Health Sciences</h2></a>
				</div>
				<!-- address end -->
				<div class="icon-links">
        			<span id="review-date"></span>
     				<!-- Last-Reviewed -->
					<h3>Follow Us</h3>
					<ul class="footer-icons--wrapper">
						<li><a class="facebook-link  no-exit" href="https://www.facebook.com/NIH.NIEHS" target="_blank"></a></li>
						<li><a class="twitter-link no-exit" href="https://twitter.com/niehs" target="_blank"></a></li>
						<li><a class="youtube-link no-exit" href="https://www.youtube.com/user/TheNIEHS" target="_blank"></a></li>
						<li><a class="wifi-link" href="https://www.niehs.nih.gov/news/newsroom/rssfeed/index.cfm"></a></li>
					</ul>
				</div>
			</div>

			<div class="footer-link_list">
					<h3>Contact Information</h3>
					<div class="ftr-textlinks">
						<ul class="list-none">
							<li><a href="https://www.niehs.nih.gov/about/od/ocpl/contact/">Contact Us</a></li>
							<li><a href="https://www.niehs.nih.gov/about/od/ocpl/employment/index.cfm">Employment Verification</a></li>
							<li><a href="https://www.niehs.nih.gov/about/od/ocpl/foia/">Freedom of Information Act</a></li>
							<li><a href="https://tools.niehs.nih.gov/staff/index.cfm">Staff Directory</a></li>
							<li><a href="https://www.niehs.nih.gov/about/visiting/index.cfm">Visiting NIEHS</a></li>
							<li>
                            <form class="footer-email-form" action="https://www.niehs.nih.gov/news/newsroom/newslist/index.cfm" method="get">
                                <label for="email">Sign Up for Email Updates:</label>
                                <input type="text" name="email" id="email" aria-label="email" placeholder="Enter Email"> 
                                <input type="submit" value="Sign Up" aria-label="Sign Up">
                            </form>
                        </li>
						</ul>
					</div>
			</div>
			<div class="footer-link_list">
					<h3>Policies &amp; Services</h3>
					<div class="ftr-textlinks">
						<ul class="list-none">
                                                 <li><a href="https://www.hhs.gov/vulnerability-disclosure-policy/index.html">HHS Vulnerability Disclosure Policy</a></li>
							<li><a href="https://www.niehs.nih.gov/about/od/ocpl/contact/">Request Translation Services</a></li>
							<li><a href="https://www.niehs.nih.gov/about/od/ocpl/policies/">Web Policies &amp; Notices</a></li>
						</ul>
					</div>
					<h3 class="staff-footer">NIEHS Staff</h3>
					<div class="ftr-textlinks staff-footer">
						<ul class="list-none">
							<li><a id="updateThisPage" href="https://apps.niehs.nih.gov/webteam/index.cfm?event=goSubmitContentRequest3&amp;web_request_type_id=2&amp;website_id=4&amp;url=https://tools.niehs.nih.gov/stdb/index.cfm" title="NIEHS Staff: Request an update of this webpage" target="_blank" onmousedown="_sendEvent('Outbound','apps.niehs.nih.gov','/webteam/index.cfm',0);">Request an Update of This Webpage</a></li>
							<li><a href="https://junction.niehs.nih.gov/" id="LinkToJunction" target="_blank">The Junction<span class="exit-w addedByJS 55.206 aN4a4d" title="This link leaves the NIEHS Public Website. "></span></a></li>
						</ul>
					</div>
			</div>

			<div class="footer-link_list">
				<h3>Related Sites</h3>
				<div class="ftr-textlinks">
					<ul class="list-none">
						<li><a href="https://www.hhs.gov/" target="_blank">Health and Human Services<span class="exit-w addedByJS 55.206 aN4a4d" title="This link is to a non-NIEHS Website. Links do not constitute endorsement by NIEHS of the linked Website. Visitors to the linked Website will be subject to the Website's privacy policies. These practices may be different than those of this NIEHS Website."></span></a></li>
						<li><a href="https://www.nih.gov/" target="_blank">National Institutes of Health<span class="exit-w addedByJS 55.206 aN4a4d" title="This link is to a non-NIEHS Website. Links do not constitute endorsement by NIEHS of the linked Website. Visitors to the linked Website will be subject to the Website's privacy policies. These practices may be different than those of this NIEHS Website."></span></a></li>
						<li><a href="https://www.usa.gov/" target="_blank">USA.gov<span class="exit-w addedByJS 55.206 aN4a4d" title="This link is to a non-NIEHS Website. Links do not constitute endorsement by NIEHS of the linked Website. Visitors to the linked Website will be subject to the Website's privacy policies. These practices may be different than those of this NIEHS Website."></span></a></li>
						<li><a href="https://www.edi.nih.gov/no-fear-act" target="_blank">NO FEAR Act<span class="exit-w addedByJS 55.206 aN4a4d" title="This link is to a non-NIEHS Website. Links do not constitute endorsement by NIEHS of the linked Website. Visitors to the linked Website will be subject to the Website's privacy policies. These practices may be different than those of this NIEHS Website."></span></a></li>
					</ul>
				</div>
			</div>
		</div>
		    
         <div id="print-footer" class="clearfix"><!-- Print-Footer starts -->
             This page URL: <span id="current_url">https://manticore.niehs.nih.gov/</span><br>
             NIEHS website: https://www.niehs.nih.gov/<br>
             Email the Web Manager at webmanager@niehs.nih.gov
         </div><!-- Print-Footer ends -->
        
	</footer>
</div>
<script type="text/javascript" src="https://www.niehs.nih.gov/web-resources/javascript/scripts.js?version=20220420"></script>