{% extends 'base.html' %}

{% block head %}
<title>SCVIS - Sleep Cycle Visualization Tool</title>
{% endblock %}

{% block body %}
<div id="main" class="container">
  <div class="header row">
    <div class="col text-center">
      <h1>SCVIS - Sleep Cycle Visualization Tool</h1>
    </div>
    <div class="col-auto my-auto">
      <a class="text-white" href="{{url_for('doc')}}" target="_blank">[Help]</a>
    </div>
  </div>
  <div class="row">
    <div id="status_area" class="col"></div>
  </div>
  <div id="content" class="row">
    <div id="input_panel" class="col-md-5 d-flex flex-column">
      <div class="row flex-grow-1 border border-5">
        <div class="col d-flex flex-column">
          <form id="input_form">
            <div class="row ps-2 pe-2 pt-3 pb-3 border">
              <div class="col-auto my-auto">
                <h5>Sample Type:</h5>
              </div>
              <div class="col-auto border border-1 pt-1">
                <div class="row">
                  <div class="col-auto">
                    <input type="radio" name="file_type" value="edf" onchange="setSampleFileType();" checked>
                  </div> 
                  <div class="col-auto">
                    <label for="edf">EDF File</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-auto">
                    <input type="radio" name="file_type" value="annot" onchange="setSampleFileType();">
                  </div>
                  <div class="col-auto">
                    <label for="annot">Epoch-wise Sleep Stages</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row ps-2 pe-2 pt-4 pb-1 border">
              <div class="col">
                <div class="row">
                  <div class="col">
                    <div class="input-group custom-file-button">
                      <a class="btn btn-primary" onclick="document.getElementById('sample_file_path').click();">Choose File</a>
                      <input id="sample_file_path_proxy" class="form-control" type="text" value="No file chosen" onclick="document.getElementById('sample_file_path').click();" readonly>
                      <input id="sample_file_path" type="file" accept=".edf" class="invisible" style="width: 0px; height: 0px;" name="sample_file_path" onchange="enableLoadButton();">
                    </div>
                  </div>
                  <div class="col-auto text-end">
                    <a id="load_btn" class="btn btn-primary disabled" onclick="loadData();">Load</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div id="upload_progressbar" class="progress mt-1 invisible">
                      <div id="input_file_upload_progess_bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <form id="exec_form">
            <div class="row border-top border-5 ps-2 pe-2 pt-3 pb-3">
              <div class="col m-auto text-start">
                <a id="configure_btn" class="btn btn-primary disabled" onclick="gotoConfigPage();" target="_blank">Configure</a>
              </div>
              <div class="col m-auto text-center">
                <input id="apply_filter_btn" class="form-check-input" type="checkbox" name="apply_filter" disabled>
                <label id="apply_filter_label" class="form-check-label" for="apply_filter">Apply Filters</label>
              </div>
              <div class="col m-auto text-end">
                <a id="execute_btn" class="btn btn-primary disabled" onclick="execute();">Execute</a>
              </div>  
            </div>
          </form>
          <div class="row flex-grow-1">
            <textarea id="status_textarea" class="form-control w-100 flex-grow-1" readonly></textarea>
          </div>
        </div>
      </div>
    </div>
    <div id="output_panel" class="col-md-7">
      <div class="row h-100 border pt-1 pb-1">
        <div class="col">
          <div class="row">
            <div class="col">
              <ul class="nav nav-tabs d-flex">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#visualization" data-bs-toggle="tab">Visualization</a>
                </li>
                <li id="nremp_cut_options_tab" class="nav-item d-none">
                  <a class="nav-link" href="#nremp_cut_options" data-bs-toggle="tab">NREMP cut points</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#sleep_cycles_stages" data-bs-toggle="tab">Sleep Cycles and Stages</a>
                </li>
                <li class="flex-grow-1">
                  <a id="download_btn" class="btn btn-primary float-end disabled" onclick="downloadOutputs()">Download</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="tab-content border">
                <div id="visualization" class="tab-pane active p-1">
                  <div class="row">
                    <div id="nremp_cut_option_msg" class="col">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <img id="vis_image" class="rounded mx-auto d-block" width=100% src="{{url_for('static', filename='assets/dummy.jpg')}}">
                    </div>
                  </div>
                </div>
                <div id="nremp_cut_options" class="tab-pane">
                  <div class="row m-1">
                    <div class="col text-center m-auto">
                      <span style="font-size: 0.8rem;">
                        We have found the following cut options for longer NREM Cycle. Please select the options you like and click "Execute".
                      </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <table class="table table-bordered table-responsive-md text-center" style="font-size: 0.8rem;">
                        <thead>
                          <tr>
                            <td>NREMP EPOCH RANGE</td>
                            <td>SLEEP CYCLE INDEX</td>
                            <td>CUT POINT EPOCH</td>
                            <td>SELECT</td>
                          </tr>
                        </thead>
                        <tbody id="nremp_cut_options_table_content"></tbody>
                      </table>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <img id="vis_image_1" class="rounded mx-auto d-block" width=100% src="{{url_for('static', filename='assets/dummy.jpg')}}">
                    </div>
                  </div>
                </div>
                <div id="sleep_cycles_stages" class="tab-pane overflow-auto">
                  <table class="table table-bordered table-responsive-md text-center">
                    <thead>
                      <tr>
                        <td>EPOCH</td>
                        <td>SLEEP CYCLE INDEX</td>
                        <td>SLEEP CYCLE</td>
                        <td>SLEEP STAGE</td>
                      </tr>
                    </thead>
                    <tbody id="sc_st_table_content"></tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  const assets_folder = "{{url_for('static', filename='assets')}}";
  const job_id = "{{job_id}}";
  const data_folder = `${assets_folder}/temp/${job_id}`;
</script>
{% endblock %}