@font-face {
    font-family: custom;
    /*src: url(Alegreya/Alegreya-VariableFont_wght.ttf);*/
    /*src: url(Ubuntu/Ubuntu-Medium.ttf)*/
    /*src: url(Lora/static/Lora-Medium.ttf)*/
    /*src: url(Noto_Serif/NotoSerif-Regular.ttf)*/
    src: url(Source_Serif_Pro/SourceSerifPro-SemiBold.ttf)
    /*src: url(Cardo/Cardo-Regular.ttf)*/
    /*src: url(Spectral/Spectral-Medium.ttf)*/
}

html, body, .container input {
    font-family: custom !important;
}

@media only screen and (min-width: 600px) {

    html, body, .container input {
        font-size: 16px !important;
    }
}

.modal h5 {
    font-size:1.25rem;
}

.header {
    background: linear-gradient(to bottom, #03a7e9 0%, #035a7d 100%)
}

input[type="radio"] {
    margin-top: 4px;
}

a {
    text-decoration: none;
}

.header h1, .header h2 {
    color: white !important;
    font: inherit;
    line-height: 1 !important;
    padding: 20px 0 20px 0 !important;
    margin: 0 !important;
}

.header h1 {
    font-size: 32px !important;
}

.header h2 {
    font-size: 25px !important;
}

.footer {
    line-height: 23px;
}

.footer ul{
    margin-bottom: 0;
}

.footer .icon-links h3 {
    padding: 0;
    margin: 0 0 1rem 0;
    line-height: 0.85;
}
a {
    cursor: pointer;
}
thead {
    background-color: #0382b6bf;
}

div.container {
    /*padding-top: 1rem;*/
    /*padding-bottom: 1rem;*/
    max-width: 1200px;
    margin-top:-2px;
    /*height: 828px;*/
}

div#nremp_cut_options_container {
    height: 150px;
}

div#sleep_periods_stages {
    height: 500px;
}

div#bad_annotations {
    height: 240px;
}

textarea {
    resize: none;
}

#status_textarea {
    min-height: 100px;
}

.h-5 {
    height: 5%;
}

.h-95 {
    height: 95%;
}

.lead {
    color:white;
}

@media only screen and (max-width: 600px) {
    #output_panel {
      margin-top:10pt;
    }
    h5, span.lead {
        font-size: 12px !important;
    }
    body, a.btn, .form-control, select.form-select, input{
        font-size: 10px !important;
    }

    #input_panel, #output_panel {
        height: 50%;
    }

    div#bad_annotations {
        height: 215px;
    }
  }