@font-face {
    font-family: custom;
    /*src: url(Alegreya/Alegreya-VariableFont_wght.ttf);*/
    /*src: url(Ubuntu/Ubuntu-Medium.ttf)*/
    /*src: url(Lora/static/Lora-Medium.ttf)*/
    /*src: url(Noto_Serif/NotoSerif-Regular.ttf)*/
    src: url(Source_Serif_Pro/SourceSerifPro-SemiBold.ttf)
    /*src: url(Cardo/Cardo-Regular.ttf)*/
    /*src: url(Spectral/Spectral-Medium.ttf)*/
}

.header {
    background: linear-gradient(to bottom, #03a7e9 0%, #035a7d 100%)
}

.header h1 {
    color: white;
}

thead {
    background-color: #0382b6bf;
}

body {
    margin: 20;
}

div.container {
    /*padding-top: 1rem;*/
    padding-bottom: 1rem;
    max-width: 1200px;
    margin-top:-2px;
    /*height: 828px;*/
}

div.container, div.container input {
    font-family: custom;
}

div#sleep_cycles_stages {
    height: 551px;
}

div#bad_annotations {
    height: 240px;
}

textarea {
    resize: none;
}

#status_textarea {
    min-height: 100px;
}

.h-5 {
    height: 5%;
}

.h-95 {
    height: 95%;
}

.lead {
    color:white;
}

@media only screen and (max-width: 600px) {
    #output_panel {
      margin-top:10pt;
    }
    h5, span.lead {
        font-size: 12px;
    }
    body, a.btn, .form-control, select.form-select{
        font-size: 10px;
    }

    div.container {
        height: 100vh;
    }

    #input_panel, #output_panel {
        height: 50%;
    }

    div#bad_annotations {
        height: 215px;
    }
  }