@font-face {
    font-family: custom;
    /*src: url(Alegreya/Alegreya-VariableFont_wght.ttf);*/
    /*src: url(Ubuntu/Ubuntu-Medium.ttf)*/
    /*src: url(Lora/static/Lora-Medium.ttf)*/
    /*src: url(Noto_Serif/NotoSerif-Regular.ttf)*/
    src: url(Source_Serif_Pro/SourceSerifPro-SemiBold.ttf)
    /*src: url(Cardo/Cardo-Regular.ttf)*/
    /*src: url(Spectral/Spectral-Medium.ttf)*/
}

body {
    margin: 20;
    font-family: custom;
}

div#sleep_cycles, div#sleep_stages {
    height: 551px;
}

textarea {
    resize: none;
}