body {
    margin: 20;
    font-family: Courier;
}

div#sleep_cycles, div#sleep_stages {
    height: 551px;
}

.h-5 {
    height: 5%;
}

.h-30 {
    height: 30%;
}

.h-40 {
    height: 40%;
}

.h-60 {
    height: 60%;
}

.h-65 {
    height: 65%;
}

.h-95 {
    height: 95%;
}

textarea {
    resize: none;
}